


.menuList{
    width: 100vw;
    background-color: black;
    color: white;
    gap: 1rem;
    align-items: center;   
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: sticky ;
    font-size: 2rem;

}

.barra{
    
    display: flex;
    flex-direction: row;
    gap: 10px;
   
    

}

.cursorP{
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    padding: .5rem;
}